---
import type { BundledLanguage, SpecialLanguage } from 'shiki';
import type { HTMLAttributes } from 'astro/types';
import { codeToTokens } from 'shiki';
import { TokensToHtml } from './code-tokens-to-html.tsx';
import { CodeCopyButton } from './code-copy-button.tsx';

interface Props extends Omit<HTMLAttributes<'pre'>, 'lang'> {
  code: string;
  lang?: BundledLanguage | SpecialLanguage;
}

const { code, lang = 'plaintext' } = Astro.props;
const trimmedCode = code.trim(); // remove whitespace from start and end
const lightTokens = await codeToTokens(trimmedCode, {
  lang,
  theme: 'github-light',
});

const darkTokens = await codeToTokens(trimmedCode, {
  lang,
  theme: 'github-dark',
});
---

<div class="not-prose relative mb-4 flex rounded-lg bg-gray-100 dark:bg-gray-800">
  <pre
    class="flex-1 overflow-x-auto py-4 pr-2 pl-4 text-sm leading-relaxed whitespace-pre"><code class="block font-mono"><TokensToHtml tokens={darkTokens.tokens} className="hidden dark:block" /><TokensToHtml tokens={lightTokens.tokens} className="block dark:hidden" /></code></pre>
  <div class="flex px-2 pt-3">
    <CodeCopyButton client:load code={code} className="" />
  </div>
</div>
