---

---

<div
  class="prose prose-headings:scroll-m-28 prose-code:bg-muted prose-code:p-1 prose-code:before:content-none prose-code:after:content-none dark:prose-invert dark:prose-a:text-blue-300 prose-a:text-blue-600 prose-img:rounded-xl prose-ul:has-[>li>code:first-child]:ps-0 prose-li:has-[>code:first-child]:marker:content-none prose-li:has-[>code:first-child]:ps-0 prose-li:has-[>code:first-child]:list-none pt-6"
>
  <slot />
</div>
