---

---

<div
  class="prose prose-headings:scroll-m-28 prose-code:bg-muted prose-code:p-1 prose-code:before:content-none prose-code:after:content-none dark:prose-invert dark:prose-a:text-blue-300 prose-a:text-blue-600 prose-img:rounded-xl pt-6 [&_.list-unstyled_li]:list-none [&_.list-unstyled_li]:ps-0 [&_.list-unstyled_li]:marker:content-none [&_.list-unstyled_ul]:ps-0"
>
  <slot />
</div>
