---

---

<div
  class="prose prose-code:bg-muted prose-code:p-1 prose-code:rounded prose-code:before:content-none prose-code:after:content-none dark:prose-invert dark:prose-a:text-blue-300 prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl"
>
  <slot />
</div>
