---
export interface Props {
  value: string;
}

const { value } = Astro.props;
---

<button
  data-tab-trigger
  data-value={value}
  class="[&.active]:border-b-foreground border-b border-transparent p-1 text-sm transition-all duration-200 [&.active]:border"
>
  <slot />
</button>
