name: Link Check

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: actions/checkout@v5

      - name: Build site
        uses: withastro/action@v5
        with:
          package-manager: pnpm@latest

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v2
        with:
          fail: ${{ github.event_name == 'pull_request' }}
          args: |
            --root-dir $PWD/dist
            --exclude-all-private
            --html-extension html
            dist/

      - name: Create Issue From File
        if: github.event_name == 'push' && steps.lychee.outputs.exit_code != 0
        uses: peter-evans/create-issue-from-file@v5
        with:
          title: Link Checker Report
          content-filepath: ./lychee/out.md
          labels: report, automated issue
